.acceHeader {
  position: absolute;
  font-size: 14px;
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: row;
  padding: 0 calc((100% - 1330px) / 2);
  background-color: white;
  z-index: 1;
  text-align: left;


  .acceContainerCol {
    width: 150px;
    padding: 20px 0;
    margin-right: 50px;

    .title {
      padding: 10px 0;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .acceProducts {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      gap: 15px;

      .allAcce {
        width: fit-content;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }

      .list {
        /* 'fit-content' make sure the width matches the content width */
        width: fit-content;

        &:hover {
          cursor: pointer;
        }
      }
    }

    img {
      height: 80%;
    }
  }


  #filterAnimation {
    display: inline;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: black;
      transition: all 0.25s ease;

      left: 0;
      bottom: -3px;
    }

    &:hover::after {
      width: 100%;
    }
  }

}
