
.addToBagContainer {
  background: #ffffff;
  border: .0625rem solid #e6e6e6;
  border-radius: .25rem;
  color: #000;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 15px;
  width: 100%;

  .ship {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: .0625rem solid #e6e6e6;
    padding-bottom: 15px;

    .shipLabel {
      display: flex;
      flex-direction: row;
      gap: 3px;
      margin-bottom: 0;

      input[type='radio'] {
        width: 15px;
        accent-color: black;
        margin-right: 5px;
      }
    }

    span {
      margin-left: 20px;
      color: #53565a;
      line-height: 1.25rem;
      font-size: 0.9rem;
      text-align: left;
    }
  }

  .pickupContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .iconContainer {
      display: flex;
      flex-direction: row;
      align-items: center;

      .pickupIcon {
        width: 20px;
        margin-right: 5px;
      }

      h2 {
        font-weight: 400;
      }
    }

    .expand {
      font-weight: 800;
      font-size: larger;

      .addIcon {
        // another way to achieve the rotation effect
        transition: 0.5s ease-in-out;
        transform: rotate(90deg);
      }

      .removeIcon {
        transition: 0.5s ease-in-out;
      }
    }
  }

  .pickUpInfoContainer {
    margin: 25px;

    input {
      margin-top: 10px;
      accent-color: black;
    }
  }

  .buttonContainer {
    width: 100%;
    margin-bottom: 5px;

    button {
      margin: 0;
      width: 100%;
      height: 50px;
      background-color: black;
      color: white;
      border: none;
      border-radius: .25rem;
      font-size: 15px;
      font-weight: 700;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 10px;
      &:hover {
        background-color: #545454;
      }
    }
  }

  .otherStoreContainer {
    width: 100%;
    button {
      margin: 0;
      width: 100%;
      height: 50px;
      background-color: #fff;
      color: black;
      border-radius: .25rem;
      text-decoration: underline;
      font-weight: 700;
      cursor: pointer;
      border: none;
    }
  }
}