.editModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  z-index: 2;
}
.editModal .carousel {
  width: 50%;
}
.editModal .productEdit {
  position: relative;
  width: 1000px;
  height: 650px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  box-shadow: 0 5px 5px #919191;
}
.editModal .productEdit .detailEdit {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 40px;
}
.editModal .productEdit .detailEdit .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.editModal .productEdit .detailEdit .price {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.editModal .productEdit .detailEdit .selectedColor {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}
.editModal .productEdit .detailEdit .swatchesGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
.editModal .productEdit .detailEdit .swatchesGroup .swatchImg {
  width: 35px;
  height: 35px;
  border: 1px solid #919191;
  border-radius: 50%;
}
.editModal .productEdit .detailEdit .swatchesGroup .swatchImg:hover {
  outline: 1px solid black;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.editModal .productEdit .detailEdit .swatchesGroup .swatchImgSelected {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: 1px solid black;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.editModal .productEdit .detailEdit .selectedSize {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
}
.editModal .productEdit .detailEdit .sizesGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.editModal .productEdit .detailEdit .sizesGroup .sizeBtn {
  margin: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #919191;
  border-radius: 10%;
  font-size: 18px;
  font-weight: 600;
}
.editModal .productEdit .detailEdit .sizesGroup .sizeBtn:hover {
  border: 3px solid black;
  cursor: pointer;
}
.editModal .productEdit .detailEdit .sizesGroup .sizeBtnSelected {
  margin: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #919191;
  border-radius: 10%;
  font-size: 18px;
  font-weight: 600;
  background-color: black;
  color: white;
  transition: 0.2s ease-in-out;
}
.editModal .productEdit .updateBtn {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  padding: 15px;
  font-size: 12px;
  font-weight: 600;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.editModal .productEdit .updateBtn:hover {
  background-color: #545454;
}
.editModal .productEdit .viewDetails {
  width: 100%;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-underline-color: #919191;
  cursor: pointer;
}
.editModal .productEdit .viewDetails:hover {
  color: #000000;
  text-decoration-thickness: 2px;
  transition: 0.5s ease-in-out;
}
.editModal .productEdit .closeOutBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}

/*# sourceMappingURL=EditModal.css.map */
