.shoppingCartWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 100px;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
}
.shoppingCartWrapper .shoppingCartBody {
  width: 800px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.shoppingCartWrapper .shoppingCartBody .itemCount {
  font-size: 1.5rem;
}
.shoppingCartWrapper .shoppingCartBody .itemCount .myBag {
  font-weight: 600;
}
.shoppingCartWrapper .shoppingCartBody .textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: #e5e6e7;
  border: 0.0625rem solid #53565a;
  margin-top: 1.5rem;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer {
  width: 100%;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer {
  display: flex;
  flex-direction: row;
  margin-top: 0.375rem;
  padding: 1.5rem 0 2rem;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productImage {
  width: 12.4375rem;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productName {
  font-family: Calibre, Verlag, Helvetica, sans-serif;
  font-size: 1.2rem;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productColor {
  margin-top: 0.375rem;
  color: black;
  margin-bottom: 0;
  font-size: 1rem;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  gap: 10px;
  margin-top: 0.375rem;
  width: 100%;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .sizeAndEditContainer {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  justify-content: center;
  padding: 0;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .sizeAndEditContainer button {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  width: 50px;
  border: none;
  background: none;
  text-align: left;
  text-decoration: underline solid #919191;
  text-underline-offset: 5px;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .sizeAndEditContainer button:hover {
  text-decoration-color: #000000;
  text-decoration-thickness: 2px;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight .priceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  justify-content: center;
  width: 30%;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight .quantityContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-right: 10px;
  width: 30%;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight .quantityContainer .dropdownMenu {
  background-color: #fff;
  border: 0.5px solid #000;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 3.25rem;
  padding: 0.875rem 1rem;
  width: 100%;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight .quantityContainer option {
  height: 50px;
  color: black;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight .quantityContainer option:checked {
  background-color: #fff !important;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight .quantityContainer option:hover {
  background-color: #fff !important;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight .quantityContainer option:focus {
  background-color: #fff !important;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight .quantityContainer option:active {
  background: linear-gradient(#000000, #000000);
  background-color: #000000 !important; /* for IE */
  color: #ffed00 !important;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .productDetails .productDetailsRight .totalPriceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .shippingAndReturnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 45%;
  width: 100%;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .shippingAndReturnContainer .removeContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .shippingAndReturnContainer .removeContainer button {
  width: auto;
  height: 30px;
  margin: 0;
  background-color: #f8f8f8;
  border: none;
  cursor: pointer;
  text-decoration: underline black solid;
  text-underline-offset: 5px;
  font-size: 0.9rem;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .shippingAndReturnContainer .removeContainer:nth-child(1) {
  border-right: 1px solid #919191;
}
.shoppingCartWrapper .shoppingCartBody .itemsContainer .itemContainer .productDetailsContainer .NotInStockWarning {
  margin-left: auto;
  font-weight: normal;
  color: red;
  font-size: 1rem;
}
.shoppingCartWrapper .button {
  background-color: #f8f8f8;
  border: none;
  cursor: pointer;
  text-decoration: underline 1px black solid;
  text-decoration-color: #8d9196;
  text-underline-offset: 5px;
}
.shoppingCartWrapper .orderSummary {
  margin-top: 50px;
  padding-top: 50px;
  width: 350px;
}

/*# sourceMappingURL=ShoppingCart.css.map */
